 <!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Freedom Wall</title>

     <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" 
          crossorigin="anonymous">

  </head>

  <body>

<h1>This is Freedom Wall </h1>
<h3>You can safely share your confessions and thoughts</h3>

<br>
<h3>Rants</h3>

<form method='POST' action = '/'>
    {% csrf_token %}
<h4>Title:</h4>
    {{rantform.title}}
<h4>Your name (Optional):</h4>
    {{rantform.poster}}
<h4>Rant:</h4> 
    {{rantform.content}}

    <input class = "btn" type="submit" name="Submit rant">

</form>

{% for rant in rants %}
    <p> {{rant.title}} </p>
    <ul> by {{rant.poster}} </ul>
    <ul> Submitted on {{rant.created}} </ul>
    <ul> {{rant.content}} </ul>

{% endfor %}

 <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" 
            crossorigin="anonymous"></script>

</body>

</html>
 
 
